body {
    background-color: aquamarine;
}

.ispis{
    max-width: 50%;
    margin: auto;
    display: block;
    background-color: rgb(121, 182, 108);
}

.ispis.gumb{

    background-color: antiquewhite;
}
